@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#app {
  overflow: hidden;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-shadow: 0 0 5px white, 0 0 20px black, 0 0 30px black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#app a {
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  color: white;
}

#app canvas {
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}
